<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MYSQL" value="Server=localhost;Database=db_itern7_2023;User Id=tien21; Password=tien@123;Allow User Variables=True;Connection Timeout=30;" />
		<add key="MSSQL_RO" value="[MYSQL]Server=103.163.215.105;Database=cnhp_dev_v2;User Id=aiviewems; Password=AiViewEMS@2020;Connection Timeout=60" />
		<add key="hello" value="Hi"/>
	</appSettings>
	
</configuration>
